body {
  margin: 0;
  padding: 0;
  font-family: "Open Sans", sans-serif;
}

#user {
  color: white;
  display: flex;
  flex-direction: row-reverse;
  background-color: #232020;
  height: 30px;
  align-items: center;
  font-size: 0.85em;
}
#user a {
  color: white;
  font-weight: bold;
}
#user div {
  margin-right: 17.4%;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 110px;
}
header img {
  margin-left: 17.4%;
}
header #busca {
  display: flex;
  flex-direction: row;
  margin-right: 17.4%;
  text-transform: uppercase;
  color: white;
  font-weight: bold;
  width: 30%;
}
header #busca input {
  width: 90%;
}
header #busca div {
  background-color: #CD363E;
  padding: 1.75% 4%;
}

nav {
  display: flex;
  flex-direction: row;
  background-color: #CD363E;
  color: white;
  text-transform: uppercase;
  padding: 0.9%;
  font-weight: bold;
}
nav div {
  margin-right: 5%;
}
nav div:first-child {
  margin-left: 17.4%;
}

#avisos {
  position: absolute;
  color: green;
  margin-top: -70px;
  margin-left: 40%;
  padding: 15px 100px;
  background-color: white;
  box-shadow: 10px 10px 10px gray;
  border-radius: 5px;
  transition: 1s;
}

#pagAtual {
  display: flex;
  flex-direction: row;
  margin-left: 17.4%;
  padding: 1% 0;
  text-transform: capitalize;
}

main {
  display: flex;
  flex-direction: row;
  margin: 0 17.4%;
}
main aside {
  border: 1px solid #DFDEDC;
  width: 22%;
  margin-right: 2%;
  padding: 0 1.7%;
}
main aside h1 {
  text-transform: uppercase;
  color: #CD363E;
}
main aside h3 {
  color: #5D928A;
  text-transform: uppercase;
}
main aside li {
  text-transform: capitalize;
  color: #707070;
}
main aside li:hover {
  cursor: pointer;
}
main aside #cores {
  display: none;
  margin-bottom: 10%;
}
main aside #cores #paleta {
  display: flex;
  flex-direction: row;
}
main aside #cores #paleta .tinta {
  width: 45px;
  height: 25px;
  margin: 0 1px;
}
main aside #tipo {
  display: none;
}
main article {
  display: flex;
  flex-direction: column;
  width: 78%;
  min-width: 750px;
}
main article #categoria {
  color: #CD363E;
  text-transform: capitalize;
  margin: 0 0 5px;
  font-weight: 100;
  font-size: 2em;
}
main article #exibicao {
  width: 100%;
  height: 50px;
  margin-bottom: 40px;
  border-top: solid 1px #DFDEDC;
  border-bottom: solid 1px #DFDEDC;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
}
main article #exibicao div {
  display: flex;
  flex-direction: row;
  align-items: center;
}
main article #exibicao i {
  margin: 0 5px;
  color: #707070;
}
main article #exibicao span {
  color: #707070;
  text-transform: uppercase;
  font-size: 0.7em;
  font-weight: bold;
}
main article #exibicao #drop {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-self: center;
  width: 200px;
  padding: 1px 5px;
  border: 1px solid #DFDEDC;
  border-radius: 5px;
  margin-left: 2px;
}
main article #exibicao #drop span {
  font-size: 0.8em;
  text-transform: capitalize;
  font-weight: 100;
  margin-left: 0%;
}
main article #corpo {
  height: 70%;
  display: flex;
  flex-wrap: wrap;
}
main article #corpo .card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 10px;
}
main article #corpo .card img {
  border: 1px solid #DFDEDC;
  width: 200px;
  height: 220px;
}
main article #corpo .card h3:nth-child(2) {
  font-weight: 200;
  font-size: 0.8em;
  text-transform: uppercase;
}
main article #corpo .card h3:nth-child(3) {
  color: #CD363E;
  text-transform: uppercase;
}
main article #corpo .btnComprar {
  width: 100%;
  padding: 5px 0;
  text-align: center;
  background-color: #80BDB8;
  color: white;
  text-transform: uppercase;
  font-weight: bolder;
  border-radius: 5px;
}
main article #paginacao {
  margin-top: 1%;
  height: 10%;
  align-self: center;
  justify-content: flex-end;
}

footer {
  margin: 5% 17.4% 0;
  height: 180px;
  background-color: #CD363E;
}

/*# sourceMappingURL=style.css.map */
