@mixin borda{
    border: 1px solid black;
}
@mixin inline{
    display: flex;
    flex-direction: row;
}

$alivio: 17.4%;

//Cores
$corUser: #232020;
$corVermelho: #CD363E;
$corCategorias: #5D928A;
$corLiCat: #707070;
$corBordas: #DFDEDC;
$corBtnComprar: #80BDB8;

body {
    margin: 0;
    padding: 0;
    font-family:'Open Sans',sans-serif; 

}

#user{
    color: white;
    display: flex;
    flex-direction: row-reverse;
    background-color: $corUser;
    height: 30px;
    align-items: center;
    font-size: 0.85em;

    a{
        color:white;
        font-weight: bold;
    }

    div{
        margin-right: $alivio;
    }
}

header {
    @include inline;
    justify-content: space-between;
    align-items: center;
    height: 110px;

    img{
        margin-left: $alivio;
    }
    

    #busca{
        @include inline;
        margin-right: $alivio;
        text-transform: uppercase;
        color: white;
        font-weight: bold;
        width: 30%;
        input{
            width: 90%;
        }
        div{
            background-color: $corVermelho;
            padding: 1.75% 4%;
        }
    }
}

nav {
    @include inline;
    background-color: $corVermelho;
    color: white;
    text-transform: uppercase;
    padding: 0.9%;
    font: {
        weight: bold;
    }

    div{
        margin-right: 5%;
    }
    div:first-child{
        margin-left: $alivio;
    }
}

#avisos{
    position: absolute;
    color: green;
    margin-top: -70px;
    margin-left: 40%;
    padding: 15px 100px;
    background-color: white;
    box-shadow: 10px 10px 10px gray;
    border-radius: 5px;
    transition: 1s;
}

#pagAtual{
    @include inline;
    margin-left: $alivio;
    padding: 1% 0;
    text-transform: capitalize;
}

main {
    @include inline;
    margin: 0 $alivio;

    aside{
        border: 1px solid $corBordas;
        width: 22%;
        margin-right: 2%;
        padding: 0 1.7%;

        h1{
            text-transform: uppercase;
            color: $corVermelho;
        }

        h3{
            color: $corCategorias;
            text-transform: uppercase;
        }

        li{
            text-transform: capitalize;
            color: $corLiCat;
        }

        li:hover {
            cursor: pointer;
        }

        #cores{
            display: none;
            margin-bottom: 10%;

            #paleta {
                @include inline;

                .tinta{
                    width: 45px;
                    height: 25px;
                    margin: 0 1px;
                }


            }
        }

        #tipo{
            display: none;
        }
    }

    article{
        display: flex;
        flex-direction: column;
        width: 78%;
        min-width: 750px;


        #categoria{
            color: $corVermelho;
            text-transform: capitalize;
            margin: 0 0 5px;
            font: {
                weight: 100;
                size: 2em;
            }
        }

        #exibicao{
            width: 100%;
            height: 50px;
            margin-bottom: 40px;
            border-top: solid 1px $corBordas;
            border-bottom: solid 1px $corBordas;
            @include inline;
            align-items: center;
            justify-content: space-between;
            
            div{
                @include inline;
                align-items: center;
            }

            i{
                margin: 0 5px;
                color: $corLiCat;
            }

            span{
                color: $corLiCat;
                text-transform: uppercase;
                font-size: 0.7em;
                font-weight: bold;
            }

            #drop{
                @include inline;
                justify-content: space-between;
                align-self: center;
                width: 200px;
                padding: 1px 5px;
                border: 1px solid $corBordas;
                border-radius: 5px;
                margin-left: 2px;
                
                span{
                    font-size: 0.8em;
                    text-transform: capitalize;
                    font-weight: 100;
                    margin-left: 0%;
                }
            }
        }

        #corpo{
            height: 70%;
            display: flex;
            flex-wrap: wrap;

            .card{
                display: flex;
                flex-direction: column;
                align-items: center;
                margin: 10px;

                img{
                    border: 1px solid $corBordas;
                    width: 200px;
                    height: 220px;
                }

                h3:nth-child(2) {
                    font: {
                        weight: 200;
                        size: 0.8em;
                    }
                    text-transform: uppercase;
                }

                h3:nth-child(3) {
                    color: $corVermelho;
                    text-transform: uppercase;
                }
            }

            .btnComprar{
                width: 100%;
                padding: 5px 0;
                text-align: center;
                background-color: $corBtnComprar;
                color: white;
                text-transform: uppercase;
                font-weight: bolder;
                border-radius: 5px;
            }
        }

        #paginacao{
            margin-top: 1%;
            height: 10%;
            align-self: center;
            justify-content: flex-end;
        }
    }
}

footer {
    margin: 5% $alivio 0;
    height: 180px;
    background-color: $corVermelho;
}


